/* General Styles */
body {
    font-size: 15px;
    font-family: 'Montserrat';
    color: hsl(234, 14%, 74%);
    background: url('images/bg-top.svg') no-repeat #f7f7ff;
}
   
/* Mobile */
h1 {
    text-align: center;
}
.toggle-options {
    display: flex;
    justify-content: center;
}
.toggle-options h3 {
    font-weight: 100;
    font-size: .875em;
}
.main {
    width: 92%;
    margin-left: 4%;
}

.basic, .master {
    text-align: center;
    margin: 30px 0;
    width: 100%;
    background-color: white;
    overflow: auto;
}
.pro {
    color: hsl(240, 78%, 98%);
    background-color: hsl(236, 72%, 79%);
    text-align: center;
    margin: 30px 0;
    width: 100%;
    overflow: auto;
}
.lines {
    border-top:black solid 2px;
    border-bottom:black solid 2px;
    width: 85%;
    margin-left: 7.5%;
}
.lines-mid {
    border-top:white solid 2px;
    border-bottom:black solid 2px
    width: 85%;
    margin-left: 7.5%;
    padding: 10px 0;
}
.learn {
    background-color: hsl(236, 72%, 79%);
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    text-transform: uppercase;
}
.learn-pro {
    background-color: white;
    width: 75%;
    text-align: center;
    margin-left: 12.5%;
    color: hsl(236, 72%, 79%);
    text-transform: uppercase;
}
/* Desktop */
@media only screen and (min-width: 1200px) {
.main {
    display: flex;
    justify-content: center;
 }
.pro {
    margin: 0 20px;
}
}