/* General Styles */
body {
    font-size: 15px;
    font-family: 'Montserrat';
    color: hsl(234, 14%, 74%);
    background: url('images/bg-top.svg') no-repeat #f7f7ff;
}
   
/* Mobile */
h1 {
    text-align: center;
}
.toggle-options {
    display: flex;
    justify-content: space-around;
}
.toggle-options h3 {
    font-weight: 100;
    font-size: .875em;
}
.main {
    width: 100%;
    background-color: white;
    overflow: auto;
}

.basic, .pro, .master {
    text-align: center;
    margin: 30px 0;
    width: 100%;
    background-color: white;
}
.test {
   background-color: white;
}

/* Desktop */
@media only screen and (min-width: 1200px) {
.main {
    display: flex;
    justify-content: center;
 }
.third {
    width: 25%;
    outline: solid 1px black;
}
}